.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
  
.hero {
    width: 100%;
    height: calc(100vh - 52px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.text-wrapper {
    text-align: center;
}

.headline {
    font-size: 10rem;
    color: blueviolet;
    font-weight: 100;
    line-height: 0.5;
}

.headline::first-letter {
    font-size: 13rem;
}

.sub-headline {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.code-wrapper {
    margin-top: 100px;
    margin-bottom: 80px;
    height: 350px;
    color: white;
    font-size: 35px;
}

.parallax-code {
    position: absolute;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.overflow {
    height: 40vh;
}

#domino-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    background: #F9F9F9;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: auto;
}

.domino-img {
    float: left;
    width: 50%;
    height: 100%;
}

.domino-text-wrapper {
    float: left;
    width: 50%;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 850px) {
    .headline {
        font-size: 6rem;
    }
    .headline::first-letter {
        font-size: 8rem;
    }  
    .sub-headline {
        font-size: 3rem;
    }
    .code-wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
        height: 250px;
        font-size: 24px;
    }
    #domino-container {
        display: inline-block;
    }
    .domino-img {
        width: 100%;
        height: 60vw;
    }
    .domino-text-wrapper {
        width: 100%;
        height: 60vw;
    }
}

@media (max-width: 600px) {
    .headline {
        font-size: 4rem;
    }
    .headline::first-letter {
        font-size: 5.5rem;
    }  
    .sub-headline {
        font-size: 2rem;
    }
    .code-wrapper {
        height: 150px;
        font-size: 12px;
    }
}